extends layout

block content
  h1= title
  - let vehicles=results
  div(class="container-fluid mt-3")
  div(class="row")
    each vehicle,index in vehicles
        div(class="col-sm-4 bg-info m-1 p-3" style=("font-weight:bolder")  onclick=`buy(${index})`) #{vehicle.vehiclename} - #{vehicle.wheels} - #{vehicle.color} - #{vehicle.price}
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }